@model GetAllCategoriesViewModel

@* @inject SignInManagers<AppUser> SignInManager *@
    
@{
}

<section class="space-sm flush-with-above">
    <div class="container">
        <ul class="row feature-list feature-list-sm">
            @foreach (var category in Model.Categories )
            {
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        
                        <div class="card-body">
                            <h4 class="card-title">Exams Categories</h4>
                            <p class="card-text">Category adı: @category.CategoryName</p>
                        </div>
                        <div class="card-footer card-footer-borderless d-flex justify-content-between">
                            <div>
                                <small></small>
                            </div>
                         @*    @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
                            {
                                <div>
                                    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id">
                                        Edit
                                    </a>
                                    <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id">
                                        Delete
                                    </a>
                                </div>
                            } *@
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>